/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.padded {
  padding: 5%;
}

.padded2 {
  padding: 3%;
}

.padden3 {
  padding: 1%;
}

.no-padding {
  padding: 0;
}

.bg-light {
  background-color: #eee;
}

.bg-dark {
  background-color: #b2c7d8;
  color: white;
}

.bg-yellow {
  background-color: #EABA6B;
  color: white;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-color: rgb(200, 200, 205);
}

.boxes {
  padding: 2%;
  text-align: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6rem 1.5rem;
  border: 1px solid;
  color: white;
  display: inline-block;
  transition: all 0.5s;
  background-color: #595959;
}

.button:hover {
  background-color: rgb(60, 60, 60);
  color: white;
  border-color: rgb(60, 60, 60);
}

.image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.half-color-vertical {
  background: linear-gradient(to bottom,
      #FCECC9 65%,
      #FCECC9 0%,
      #FFFFFF 0%,
      #FFFFFF 100%);
}

i.fab {
  font-size: 1.5rem;
}

div.vertical-line {
  width: 1px;
  /* Line width */
  background-color: #595959;
  /* Line color */
  height: 100%;
  /* Override in-line if you want specific height. */
  float: center;
  display: inline-block;
  /* Causes the line to float to left of content.
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
}

.copyright {
    font-weight: light;
}

.copyright a{
    font-weight: lighter;
}

/* Universal Styles */
body {
  font-family: 'Martel Sans', sans-serif;
  background-color: #FFFFFF;
  color: #595959;
}

h2, h3, h4 {
  font-weight: 900;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.8rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

/* header & footer */
header {
  padding: 2% 5%;
  background-color: #FCECC9;
  color: #595959;
}

header a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header a:hover {
  color: #EAD2AC;
}

header h1 {
  text-transform: uppercase;
  font-weight: lighter;
}

footer a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  font-weight: bold;
  display: inline-block;
}

footer a:hover {
  color: #d6d6d5;
}

footer .fab {
  font-size: 2rem;
}

img {
  object-fit: cover;
}

/* ------------ Banner ---------- */
.banner {
  background-size: cover;
  background-position: center;
  background-image: url('images/bg.jpg');
  background-color: #8E8487;
  background-attachment: fixed;
  min-height: 80vh;
  color: white;
}

/* sleep like a baby */
.banner h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

.banner h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

/* This prevents the sections from having a blue outline when we click to threm from the menu */
section:focus,
footer:focus {
  outline: none;
}

/* media Queries */
@media(min-width:768px) {
  .computer-hide {
    display: none;
  }
}


@media(max-width:768px) {

  /* you can add this class to any element that you want to hide on mobile. We've used a selector that includes the id of the body to ensure that this is a very specific selector and we don't have any specificity issues */
  #body .mobile-hide {
    display: none;
  }

  /* add the class to the parent container, the one that has the 'grid' class, of columns that you want to reverse on mobile. So if you have 4 sections with 2 columns each you would add it to every second section. */
  .reverse-on-mobile {
    flex-direction: column-reverse;
  }

  .bg-image {
    padding-bottom: 50%;
  }

  .banner {
    min-height: 60vh;
  }

  .banner h3 {
    font-size: 3rem;
  }
  header h1{
    font-size: 50px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
  }

  .mobile-hide {
    display: none;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #eee;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -15px;
  padding: 5px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #eee;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 1px;
  background: #eee;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/*formulier */
.form-style-9 {
  max-width: 100%;
  padding: 2%;
}

.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}

.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.form-style-9 ul li .field-style:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0;
}

.form-style-9 ul li .field-split {
  width: 49%;
}

.form-style-9 ul li .field-full {
  width: 100%;
}

.form-style-9 ul li input.align-left {
  float: left;
}

.form-style-9 ul li input.align-right {
  float: right;
}

.form-style-9 ul li textarea {
  width: 100%;
  height: 200px;
}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px;
}

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E;
}
